# Classification (virtual IF statements)

I want to know if a Number is bigger/smaller/equal to a Random value. The result of the comparison must be recorded in a column. Here's a script that doesn't use the IF statement directly.

In [174]:
import numpy as np
import pandas as pd 
import random


numberList = []
for i in range(1,51):
    numberList.append(i)
    i+=1
    
numberList = pd.DataFrame(numberList, columns=['numbers'])
numberList.head()

   numbers
0        1
1        2
2        3
3        4
4        5

In [173]:
x = np.random.randint(1,50, size = 50)
numberList['random'] = x 
numberList['compare'] = 'is equal to'  # default value
numberList = numberList[['numbers','compare','random']]  #rearrange cols

mask = numberList['numbers'] > numberList['random']  
numberList.loc[mask, 'compare'] = 'is bigger than'  # 'compare' = 'bigger than' IF 'numbers' > 'random'

mask = numberList['numbers'] < numberList['random']
numberList.loc[mask, 'compare'] = 'is smaller than'

numberList

    numbers          compare  random
0         1  is smaller than      36
1         2  is smaller than      36
2         3   is bigger than       2
3         4  is smaller than      23
4         5  is smaller than      21
5         6  is smaller than      41
6         7  is smaller than      44
7         8  is smaller than      18
8         9   is bigger than       6
9        10  is smaller than      14
10       11  is smaller than      36
11       12  is smaller than      23
12       13  is smaller than      14
13       14  is smaller than      49
14       15  is smaller than      19
15       16   is bigger than       3
16       17  is smaller than      32
17       18  is smaller than      39
18       19      is equal to      19
19       20  is smaller than      27
20       21  is smaller than      32
21       22  is smaller than      37
22       23   is bigger than      14
23       24   is bigger than       1
24       25  is smaller than      41
25       26   is bigger than      15
26       27   is bigger than      13
27       28   is bigger than      22
28       29   is bigger than      14
29       30  is smaller than      31
30       31   is bigger than      21
31       32   is bigger than      27
32       33  is smaller than      43
33       34   is bigger than       6
34       35   is bigger than      17
35       36   is bigger than      10
36       37   is bigger than       2
37       38   is bigger than      36
38       39   is bigger than      25
39       40  is smaller than      49
40       41  is smaller than      42
41       42   is bigger than      14
42       43   is bigger than       7
43       44   is bigger than      29
44       45   is bigger than      23
45       46   is bigger than      19
46       47   is bigger than      16
47       48   is bigger than       1
48       49   is bigger than      44
49       50   is bigger than      26